<html>
    <h1 style="color: #5e9ca0;">There are no users, fill the from below to add user</h1>

    <form action="/api/v1/users/" method="POST">
        <label for="title">Create User</label><br>
        <input type="text" id="name" name="name" value=""><br>
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email" value=""><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" value=""><br>
        <input type="submit" value="Submit">
    </form>
</html>
