<html>
    <head>
        <style type="text/css">
            body {
                background: black;
                color: white;
            }
            div.container {
                max-width: 500px;
                margin: 100px auto;
                border: 20px solid white;
                padding: 10px;
                text-align: center;
            }
            h4 {
                text-transform: uppercase;
            }
        </style>
    </head>
    <body>
        No blogs have been created yet.

        Be the first one to create a blog! 
        <br><br>
        <form action="{{url + '/api/v1/blogposts/'}}" method="POST">
          <label for="title">Blog Title</label><br>
          <input type="text" id="title" name="title" value=""><br>
          <label for="contents">Blog Contents</label><br>
          <input type="text" id="contents" name="contents" value=""><br>
          <label for="user_id">User-ID</label><br>
          <input type="text" id="user_id" name="user_id" value=""><br>
          <input type="submit" value="Submit">
        </form>
        
        

        <br><br>
        Create an account! 
        <form action="{{url + '/api/v1/users/'}}" method="POST">
            <label for="title">Create User</label><br>
            <input type="text" id="name" name="name" value=""><br>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email" value=""><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" value=""><br>
            <input type="submit" value="Submit">
        </form>

        <form action="{{url + '/api/v1/users/'}}">
            <input type="submit" value="Go to users" />
        </form>
    </body>
</html>
